/* Global */
html, body {
	font-family: 'Roboto', sans-serif;
}

/* Card Slider */
.wrapper-card .header {
	padding: 20px 0px;
	box-sizing: border-box;
}

.wrapper-card .header .title,
.wrapper-card .header .description {
	margin: 0px;
}

.wrapper-card .header .title {
	font-size: 30px;
	font-weight: bold;
}